body{
    background-image: url('https://source.unsplash.com/1600x900/?weather');
}

header{
    background-color: #f7f7f70c;
}
div.title{
    color: rgb(255, 255, 255);
    text-align:right;
}

div.title h1{
    padding: 10px;
}

main.dashboard{
    background-color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

div.recent-searches h2{
    font-size: 30px;
    font-family: sans-serif;
}

div.citylist{
    margin-top: 100px;
}

div.city{
    padding: 30px;
}

div.cityName{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
div.currentWeather {
    margin-bottom: 20px;
    background-color: rgba(93, 56, 56, 0.369);
}

div.currentWeather h2,
div.currentWeather h3 {
    font-size: 1.3rem;
    margin: 10px;
}

span#uv-index {
    color: white;
}

div.fiveDay h2 {
    font-size: 1.2rem;
}

div.fiveDay p {
    font-size: .8rem;
}

div.fiveDay p.card-title {
    font-weight: bold;
    color: white;
}

.card {
    background-color: #000000;
}

.text-muted {
    color: white !important;
    padding: 2em;
    border-radius: 30px;
   
}
.row{
  font-family:Arial, Helvetica, sans-serif;
  border: #000000;

}

.d-flex {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: blue;
}